<div class="index-container">
  <img class="beer" src="./images/beer.png" alt="">
  <a href="beers"><button class="btn btn-primary button">Check the Beers!</button></a>
  <a href="beerPartial"><button class="btn btn-primary button">Check a Random Beer</button></a>
</div>